* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    direction: rtl;
}

header {
    height: 169px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #F7F7F7;
    box-shadow: 0 1px 66px 0px rgb(0 0 0 / 16%);
    flex-wrap: wrap;
}

.Vision2030_logo {
    width: 153px;
    height: 101px;
    order: 1;
}

.SHI_logo {
    width: 524px;
    height: 84px;
    order: 2;
}

.HR_logo {
    width: 251px;
    height: 93px;
    order: 3;
}